.sidebar {
    height: 100vh;
    text-align: center;
    flex-direction: column;
    display: block;

    .sidebar-area {
        .switch-btn {
            position: sticky;
            top: 1.5rem;
            margin-bottom: 2rem;

            .btn.btn-dark.a {
                margin: 0 1rem;
                --bs-btn-color: #ffffff;
            }

            .btn.btn-dark.b {
                margin: 0 1rem;
                --bs-btn-color: #ffffff40;
            }
        }

        .add {
            position: sticky;
            top: 6rem;
            width: 100%;
            height: 35px;
            margin-bottom: 4rem;
            padding: 0 10%;
            display: flex;
            gap: 1rem;
    
            .btn {
                min-width: 30%;
                max-width: 30%;
                margin: 0;
                padding: 0;
            }
        }

        .added-content {
            color: #b8b7ad;
            .form-check {
                .form-check-input {
                    margin-left: 3%;
                }

                .form-check-label {
                    font-size: 15px;
                }
            }
        }
    }

    .store-link {
        .btn.btn-light {
            margin-top: 10%;
            border: 1px black solid;
        }
    }

    .sidebar *::before, .sidebar *::after {
        box-sizing: 0;
    }
}