.container-fluid{
    height: 100vh;
    .row {
        .col-3.st {
            background-color: rgba(0, 0, 0, 0.724);
            padding: 0 0 0 0;
            height: 100vh;

            .btn {
                margin: 5% 10%;
            }

            .add-store {
                width: 100%;
                height: 35px;
                margin: 5% 0 10% 0;
                display: flex;
                padding: 0 10%;

                .form-control {
                    width: 90%;
                    padding: 0 0 0 0;
                }

                .btn {
                    min-width: 25%;
                    max-width: 40%;
                    margin: 0 0 0 0;
                }
            }

            .added-stores {
                text-align: center;
                color: #b8b7ad;

            }
        }

        .col-6 {
            background-color: bisque;
            padding: 0 0 0 0;
            height: 100vh;
            position: relative;

            .best-list {
                height: 5vh;
                font-size: 1.5rem;
                position: absolute;
                top: 3%;
                left: 6%;
            }

            .container.sto {
                height: 90vh;
                position: absolute;
                top: 10%;

                .ssss.list {
                    height: 45vh;
                    position: absolute;

                    .add-ingredient {
                        // height: 50%;
                        // display: flex;
                        // flex-wrap: wrap;

                        // .add-button {
                        // list-style: none !important;
                        // }

                        .ccc {
                            // flex-wrap: wrap;
                            .sss {
                                // box-sizing: border-box;
                                // display: flex !important;
                                // flex-wrap: wrap !important;
                                // width: 30px !important;

                            }
                        }
                    }
                }

                .col-12 {
                    // background-color: #496aed;
                    height: 45vh;
                    width: 97%;
                    position: absolute;
                    top: 50%;

                    .remarks {
                        .tt {
                            font-size: 1.5rem;
                            padding-left: 4%;
                        }

                        .dd {
                            font-size: 1rem;
                            margin: 0 2% 0 2%;
                        }
                    }
                }
                
            }
        }

        .col-3.sb {
            background-color: rgba(0, 0, 0, 0.724);
            padding: 0 0 0 0;
            height: 100%;

            .sidebar {
                margin: 1% 2%;
            }
        }
    }

}
