.container-fluid{
    height: 100vh;
    .row {
        .col-3.st {
            background-color: rgba(0, 0, 0, 0.724);
            padding: 0 0 0 0;
            height: auto;

            .btn {
                margin: 5% 10%;
            }

            .add-store {
                width: 100%;
                height: 35px;
                margin: 5% 0 10% 0;
                display: flex;
                padding: 0 10%;

                .form-control {
                    width: 90%;
                    padding: 0 0 0 0;
                }

                .btn {
                    min-width: 25%;
                    max-width: 40%;
                    margin: 0 0 0 0;
                }
            }

            .added-stores {
                text-align: center;
                color: #b8b7ad;

            }
        }

        .col-6 {
            background-color: bisque;
            padding: 0 0 0 0;
            height: auto;

            .best-list {
                font-size: 25px;
                margin: 1rem 2rem;
                height: 50px;
            }

            .container.sto {
                .row {
                    height: 50vh;
                    .col-4.bl {
                        text-align: center;

                        .ol, ul, dl {
                            list-style: none;
                            padding-left: 0;
                        }

                        #add-ingredient {
                            .addbutton {
                                padding-right: 100%;
                            }

                            .ccc {
                                .sss {
                                    width: 70%;
                                }
                            }
                        }
                        
                    }

                    .col-12 {
                        background-color: rgb(73, 106, 237);

                        .remarks {
                            font-size: 25px;
                            margin: 5% 8%;
                        }
                    }
                }
            }
        }

        .col-3.sb {
            background-color: rgba(0, 0, 0, 0.724);
            padding: 0 0 0 0;

            .sidebar {
                margin: 1% 2%;
            }
        }
    }

}
