.container {
    .menu {
        text-align: right;
        margin: 2% 2% 2% 2%;

        .btn {
            margin-left: 15px;
        }
    }

    .main {
        margin: 5% 0;
        text-align: center;
        
        .title {
            margin-bottom: 5%;
        }

        .favorite-list {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            align-items: center;

            .favorite-item {
                background-color: #e6e0e082;
                border-radius: 8px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                overflow: hidden;
                width: 70%;
                display: flex;
                align-items: center;
                padding: 1rem 1.5rem;
                margin: 0.5rem;
                
                .recipe-img {
                    width: 20%;

                    .recipe-image {
                        width: 100px;
                        height: 100px;
                        object-fit: cover;
                        border-radius: 8px;
                        margin-right: 15px;
                    }
                }

                .recipe-details {
                    width: 80%;
                    text-align: left;

                    .recipe-title {
                        margin: 0;
                        font-size: 1.2em;
                        text-align: left;
                    }

                    .recipe-indication {
                        margin: 5px 0 0 0;
                        text-align: left;
                    }
                }

                .recipe-actions {
                    margin-left: auto;
                    display: flex;
                    gap: 10px;

                    .bi {
                        background-color: transparent;
                        font-size: 25px;
                        border: 0;
                        padding: 0;
                        display: flex;
                    }
                }
            }
            .bi.bi-star {
                font-size: 20px;
                float: right;
            }

            .bi.bi-star-fill {
                font-size: 20px;
                float: right;
                color: #edde0c;
            }
        }

        .result-recipe-list {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            align-items: center;

            .recipe-item {
                background-color: #e6e0e082;
                border-radius: 8px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                overflow: hidden;
                width: 70%;
                display: flex;
                align-items: center;
                padding: 1rem 1.5rem;
                margin: 0.5rem;
                
                .recipe-img {
                    width: 20%;

                    .recipe-image {
                        width: 100px;
                        height: 100px;
                        object-fit: cover;
                        border-radius: 8px;
                        margin-right: 15px;
                    }
                }

                .recipe-details {
                    width: 80%;
                    text-align: left;

                    .recipe-title {
                        margin: 0;
                        font-size: 1.2em;
                        text-align: left;
                    }

                    .recipe-indication {
                        margin: 5px 0 0 0;
                        text-align: left;
                    }
                }

                .recipe-actions {
                    margin-left: auto;
                    display: flex;
                    gap: 10px;

                    .bi {
                        background-color: transparent;
                        font-size: 25px;
                        border: 0;
                        padding: 0;
                        display: flex;
                    }
                }
            }
            .bi.bi-star {
                font-size: 20px;
                float: right;
            }

            .bi.bi-star-fill {
                font-size: 20px;
                float: right;
                color: #edde0c;
            }
        }
        .recipe-list :hover{
            background-color: #8e8c8c41;
        }
    }

    .list {
        .bm-menu {
            width: 35% !important;
        }
    }
    
    .bm-burger-button {
        left: auto !important;
        right: 36px !important;
        top: 0 !important;
        margin-top: 2%;
    }

    .bm-menu {
        padding-top: 0px;
    }

    .bm-item-list>* {
        padding: 0 !important;
    }

    .bm-item-list {
        margin-left: 0;
        font-size: 15px;
    }

    .bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
        vertical-align: 1em;
    }
}
